{% extends "common.html" %}
{% block content %}
  <div class="justify-content-center d-flex">
    <div class="row justify-content-center d-flex">
      <ul class="list-group list-group-horizontal-lg">
        {% for color, label, key in top_labels %}
        <a href="{{url_for('search_results', result=key)}}" style="color:inherit;text-decoration:none"><li class="list-group-item {{color}}">{{label}}</li></a>
        {% endfor %}
      </ul>
    </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="column" style="width: 30%">
        <div class="column justify-content-center">
            <h2 class="h2">Query your Stock</h2>
            <form method="POST" class="form-inline active-pink-3 active-pink-4">
              {{ form.search }}
              <button class="btn btn-red btn-rounded btn-sm my-0" type="submit">Search</button>
            </form>
        </div>
        <div class="column justify-content-center">
          <div class="list-group">
            <a class="list-group-item list-group-item-action active text-white">Previous Searches</a>
            {% for item in searched_items %}
              <a href="{{url_for('search_results', result=item.item)}}" class="list-group-item list-group-item-action">{{item.item}}</a>
            {% endfor %}
          </div>
        </div>
      </div> 
      <div class="column" style="width: 50%;">
        <canvas id="chart"></canvas>
      </div>
    </div>
    <div class="row justify-content-center d-flex">
      <h3 class="h3">Companies with highest gains today</h3>
      <table class="table table-striped">
        <thead>
        <tr>
        {% for label in records %}
            <th scope="col">{{label}}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>  
          {% for content in gainers %}    
          <tr>
          {% for c in content %}
              <td>{{c}}</td>
          {% endfor %}
          </tr>
      {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="row justify-content-center d-flex">
      <h3 class="h3">Companies with lowest lost today</h3>
      <table class="table table-striped">
        <thead>
        <tr>
        {% for label in records %}
            <th scope="col">{{label}}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>  
          {% for content in losers %}    
          <tr>
          {% for c in content %}
              <td>{{c}}</td>
          {% endfor %}
          </tr>
      {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="row justify-content-center d-flex">
      <h3 class="h3">Companies most active today</h3>
      <table class="table table-striped">
        <thead>
        <tr>
        {% for label in records %}
            <th scope="col">{{label}}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>  
          {% for content in actives %}    
          <tr>
          {% for c in content %}
              <td>{{c}}</td>
          {% endfor %}
          </tr>
      {% endfor %}
        </tbody>
    </table>
    </div>
  <script>
    var ctx = document.getElementById('chart').getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [
        {% for item in labels %}
             "{{item}}",
            {% endfor %}  
        ],
        datasets: [{
            label: '{{ legend }}',
            data: [
            {% for item in values %}
                {{item}},
              {% endfor %}
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.5)',
                'rgba(54, 162, 235, 0.5)',
                'rgba(255, 206, 86, 0.5)',
                'rgba(75, 192, 192, 0.5)',
                'rgba(153, 102, 255, 0.5)',
                'rgba(255, 159, 64, 0.5)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
        },
        options: {
          responsive: true,
          
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
        }
      });
  </script>
{% endblock content %}